<div class="content">
    <div class="photo-home">
        <img src="" alt="">
    </div>
    <div class="title-home">
        <span>Back-End developer</span>
        <h1>Pedro Nieto</h1>
        <p>Soy un apasionado de resolver problemas y de crearme mis propios retos. Desarrollador PHP y de diferentes
            lenguajes del entorno WEB, siempre proactivo y en constante aprendizaje</p>
        <div class="buttons">
            <button routerLink="/Skills" class="skill">My Skills</button>
            <button routerLink="/Contact" class="contact">Contact Me</button>
        </div>    
    </div>
</div>