<div class="title">
    <p>
        {{ title }}
    </p>
</div>
<div class="content">
    <div class="about-title">
        <h1>Hi! Soy <span>Pedro</span></h1>
        <h1>un simple Developer</h1>
    </div>
    <p>
        Soy Pedro, tengo 23 años y contando. Nací y viví toda la vida en Capital Federal, fui al secundario San Pablo
        Apostol en donde termine en el año 2015. Actualmente vivo en el barrio de Colegiales con mi novia y mi hija.
        Trabajo en el área IT desde el año 2016, empecé como Implementador IT en la sección de Informatica del
        <span>Ministerio de Salud GCBA</span>. En el 2018 decidí cambiar a la empresa centralizadora de pagos <span>Epagos</span> en donde conocí
        un grupo de gente extraordinaria que me ayudo a crecer profesionalmente, aqui mismo tuve mi primer contacto con
        el desarrollo web, puntualmente con PHP. Este empleo me dio la suficiente experiencia para poder seguir
        creciendo como desarrollador, por lo tanto, a principios de 2021 inicio mi aventura en <span>Prex</span>, en donde pude
        mostrar mis habilidades como desarrollador Back-End en proyectos grandes interactuando con muchas apis externas
        y desarrollando código de calidad.
    </p>
</div>